@import url('fonts.googleapis.com');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;    
}

body {
    font-family: "Roboto", sans-serif;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    height: 48px;
    width: 48px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1em;
    background-color: #1f2937;
    height: 60px;
}

.right-header, .left-header {
    display: flex;
    gap: 24px;
}

.left-header .text {
    align-content: center;
    color: #f9faf8;
    font-size: 24px;
}

.right-header a{
    text-decoration: none;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    color: #e5e7eb;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;    
}

.content > * {
    border: 2px solid red;
    flex:1;
    width: 100%;
}

.content1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    gap: 48px;
    background-color: #1f2937;
}

.left-content1 .text {
    color: #e5e7eb;
    font-size: 18px;
    width: 300px;
    text-wrap: wrap;    
}

.left-content1 button {
    color: white;
    background-color: #3882f6;
    padding: 8px 24px;
    border: none;
    border-radius: 15px;
}

.text .title{
   font-size: 48px;
   color: #f9faf8;
   font-weight: 900; 
}

.right-content1 img {
    height: 200px;
    width: 300px;
    mask-image: radial-gradient(circle, black, black, transparent 100%);
}

.footer {
    height: 40px;
    align-content: center;
    text-align: center;
}

.content2 .title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 16px 0;
}

.content2 .cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    
}

.cardsimg{
    width: 150px;
    height: 150px;
    border: 5px solid transparent;
    mask-image: radial-gradient(circle,black,black 65%, transparent 90%);
}

